#container{
  width:500px;
  height:450px;
  border: 2px solid purple;
  margin:50px auto;

}

h2{
  color:purple;
  text-align: center;
}

#myVideo{
  width:400px;
  margin-left: 50px;
  border:1px solid purple;
}

#ground{
  width: 307px;
  height:79px;
  background: url(background.gif) no-repeat;
  margin:20px auto;
  padding: 20px 0 0 4px;
}

#speedSlider{
  width: 289px;
  height:29px;
  left:4px;
  top:4px;
  background: url(slider.gif) no-repeat;
  position:relative;
  border: none;
}

#speedSlider .ui-slider-handle{
  background: url(handle.gif) no-repeat;
  width:24px;
  height:26px;
  top: 1px;
  border: none;

}
